html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.container{
    width:220px;
    height:310px;
    transition: all 0.1s;
    position: relative;
}
.container1{
    margin-left: 110px;
    width:220px;
    height:310px;
    transition: all 0.1s;
    position: relative;
}

.container2{
    margin-left: 110px;
    width:220px;
    height:310px;
    transition: all 0.1s;
    position: relative;
}

.container5{
    width:220px;
    height:310px;
    transition: all 0.1s;
    position: relative;
}
.container6{
    margin-left: 110px;
    width:220px;
    height:310px;
    transition: all 0.1s;
    position: relative;
}

.container7{
    margin-left: 110px;
    width:220px;
    height:310px;
    transition: all 0.1s;
    position: relative;
}
.container10{
    width:220px;
    height:310px;
    transition: all 0.1s;
    position: relative;
}
.container11{
    margin-left: 110px;
    width:220px;
    height:310px;
    transition: all 0.1s;
    position: relative;
}

.container12{
    margin-left: 110px;
    width:220px;
    height:310px;
    transition: all 0.1s;
    position: relative;
}
.container15{
    width:220px;
    height:310px;
    transition: all 0.1s;
    position: relative;
}
.container16{
    margin-left: 110px;
    width:220px;
    height:310px;
    transition: all 0.1s;
    position: relative;
}

.container17{
    margin-left: 110px;
    width:220px;
    height:310px;
    transition: all 0.1s;
    position: relative;
}
.pokemon{
    opacity: 100%;
    width:440px;
    height: 620px;
    background-image: url(pokemon.jpg);
    background-size: cover;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

.pokemon1{
    opacity: 100%;
    width:440px;
    height: 620px;
    background-image: url(poekmon1.png);
    background-size: cover;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

.pokemon2{
    opacity: 100%;
    width:440px;
    height: 620px;
    background-image: url(pokemon2.png);
    background-size: cover;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}


.pokemon5{
    opacity: 100%;
    width:440px;
    height: 620px;
    background-image: url(pokemon5.png);
    background-size: cover;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

.pokemon6{
    opacity: 100%;
    width:440px;
    height: 620px;
    background-image: url(pokemon6.png);
    background-size: cover;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

.pokemon7{
    opacity: 100%;
    width:440px;
    height: 620px;
    background-image: url(pokemon7.png);
    background-size: cover;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}
.pokemon10{
    opacity: 100%;
    width:440px;
    height: 620px;
    background-image: url(pokemon10.png);
    background-size: cover;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

.pokemon11{
    opacity: 100%;
    width:440px;
    height: 620px;
    background-image: url(pokemon11.png);
    background-size: cover;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

.pokemon12{
    opacity: 100%;
    width:440px;
    height: 620px;
    background-image: url(pokemon12.png);
    background-size: cover;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

.pokemon15{
    opacity: 100%;
    width:440px;
    height: 620px;
    background-image: url(pokemon15.png);
    background-size: cover;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

.pokemon16{
    opacity: 100%;
    width:440px;
    height: 620px;
    background-image: url(pokemon16.png);
    background-size: cover;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

.pokemon17{
    opacity: 100%;
    width:440px;
    height: 620px;
    background-image: url(pokemon17.png);
    background-size: cover;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}


.card{
    width:220px;
    height:310px;
    background-image: url(pokemon.jpg);
    background-size: cover;
}

.card1{
    width:220px;
    height:310px;
    background-image: url(poekmon1.png);
    background-size: cover;
}

.card2{
    width:220px;
    height:310px;
    background-image: url(pokemon2.png);
    background-size: cover;
}


.card5{
    width:220px;
    height:310px;
    background-image: url(pokemon5.png);
    background-size: cover;
}
.card6{
    width:220px;
    height:310px;
    background-image: url(pokemon6.png);
    background-size: cover;
}

.card7{
    width:220px;
    height:310px;
    background-image: url(pokemon7.png);
    background-size: cover;
}


.card10{
    width:220px;
    height:310px;
    background-image: url(pokemon10.png);
    background-size: cover;
}
.card11{
    width:220px;
    height:310px;
    background-image: url(pokemon11.png);
    background-size: cover;
}

.card12{
    width:220px;
    height:310px;
    background-image: url(pokemon12.png);
    background-size: cover;
}

.card15{
    width:220px;
    height:310px;
    background-image: url(pokemon15.png);
    background-size: cover;
}
.card16{
    width:220px;
    height:310px;
    background-image: url(pokemon16.png);
    background-size: cover;
}

.card17{
    width:220px;
    height:310px;
    background-image: url(pokemon17.png);
    background-size: cover;
}




.overlay{
    position: absolute;
    width:220px;
    height:310px;
    background: linear-gradient(150deg,transparent 40%, rgba(255,219,112,0.8) 45%,rgba(132,50,255,0.6) 50%,transparent 54%);
    filter: brightness(1.2) opacity(0.8);
    mix-blend-mode:color-dodge ;
    background-size: 150% 150%;
    background-position: 100%;
    transition: all 0.01s;
}

.overlay1{
    position: absolute;
    width:220px;
    height:310px;
    background: linear-gradient(150deg,transparent 40%, rgba(255,219,112,0.8) 45%,rgba(132,50,255,0.6) 50%,transparent 54%);
    filter: brightness(1.2) opacity(0.8);
    mix-blend-mode:color-dodge ;
    background-size: 150% 150%;
    background-position: 100%;
    transition: all 0.01s;
}


.overlay2{
    position: absolute;
    width:220px;
    height:310px;
    background: linear-gradient(150deg,transparent 40%, rgba(255,219,112,0.8) 45%,rgba(132,50,255,0.6) 50%,transparent 54%);
    filter: brightness(1.2) opacity(0.8);
    mix-blend-mode:color-dodge ;
    background-size: 150% 150%;
    background-position: 100%;
    transition: all 0.01s;
}

.overlay5{
    position: absolute;
    width:220px;
    height:310px;
    background: linear-gradient(150deg,transparent 40%, rgba(255,219,112,0.8) 45%,rgba(132,50,255,0.6) 50%,transparent 54%);
    filter: brightness(1.2) opacity(0.8);
    mix-blend-mode:color-dodge ;
    background-size: 150% 150%;
    background-position: 100%;
    transition: all 0.01s;
}


.overlay6{
    position: absolute;
    width:220px;
    height:310px;
    background: linear-gradient(150deg,transparent 40%, rgba(255,219,112,0.8) 45%,rgba(132,50,255,0.6) 50%,transparent 54%);
    filter: brightness(1.2) opacity(0.8);
    mix-blend-mode:color-dodge ;
    background-size: 150% 150%;
    background-position: 100%;
    transition: all 0.01s;
}


.overlay7{
    position: absolute;
    width:220px;
    height:310px;
    background: linear-gradient(150deg,transparent 40%, rgba(255,219,112,0.8) 45%,rgba(132,50,255,0.6) 50%,transparent 54%);
    filter: brightness(1.2) opacity(0.8);
    mix-blend-mode:color-dodge ;
    background-size: 150% 150%;
    background-position: 100%;
    transition: all 0.01s;
}


.overlay10{
    position: absolute;
    width:220px;
    height:310px;
    background: linear-gradient(150deg,transparent 40%, rgba(255,219,112,0.8) 45%,rgba(132,50,255,0.6) 50%,transparent 54%);
    filter: brightness(1.2) opacity(0.8);
    mix-blend-mode:color-dodge ;
    background-size: 150% 150%;
    background-position: 100%;
    transition: all 0.01s;
}


.overlay11{
    position: absolute;
    width:220px;
    height:310px;
    background: linear-gradient(150deg,transparent 40%, rgba(255,219,112,0.8) 45%,rgba(132,50,255,0.6) 50%,transparent 54%);
    filter: brightness(1.2) opacity(0.8);
    mix-blend-mode:color-dodge ;
    background-size: 150% 150%;
    background-position: 100%;
    transition: all 0.01s;
}


.overlay12{
    position: absolute;
    width:220px;
    height:310px;
    background: linear-gradient(150deg,transparent 40%, rgba(255,219,112,0.8) 45%,rgba(132,50,255,0.6) 50%,transparent 54%);
    filter: brightness(1.2) opacity(0.8);
    mix-blend-mode:color-dodge ;
    background-size: 150% 150%;
    background-position: 100%;
    transition: all 0.01s;
}


.overlay15{
    position: absolute;
    width:220px;
    height:310px;
    background: linear-gradient(150deg,transparent 40%, rgba(255,219,112,0.8) 45%,rgba(132,50,255,0.6) 50%,transparent 54%);
    filter: brightness(1.2) opacity(0.8);
    mix-blend-mode:color-dodge ;
    background-size: 150% 150%;
    background-position: 100%;
    transition: all 0.01s;
}


.overlay16{
    position: absolute;
    width:220px;
    height:310px;
    background: linear-gradient(150deg,transparent 40%, rgba(255,219,112,0.8) 45%,rgba(132,50,255,0.6) 50%,transparent 54%);
    filter: brightness(1.2) opacity(0.8);
    mix-blend-mode:color-dodge ;
    background-size: 150% 150%;
    background-position: 100%;
    transition: all 0.01s;
}


.overlay17{
    position: absolute;
    width:220px;
    height:310px;
    background: linear-gradient(150deg,transparent 40%, rgba(255,219,112,0.8) 45%,rgba(132,50,255,0.6) 50%,transparent 54%);
    filter: brightness(1.2) opacity(0.8);
    mix-blend-mode:color-dodge ;
    background-size: 150% 150%;
    background-position: 100%;
    transition: all 0.01s;
}

.font{
    text-align: center;
    font-size: xx-large;
}


#ad {
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.ad-container.fixed {
    height: 0; /* 고정될 때의 부모 컨테이너 높이 설정 */
}